/* esqueci-senha.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0b5c51;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.senha-container {
  background-color: #367a60;
  padding: 40px 30px;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  color: white;
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.senha-box h2 {
  margin-bottom: 10px;
  font-weight: 600;
}

.senha-box p {
  margin-bottom: 20px;
  font-size: 0.95rem;
}

.senha-box input {
  width: 100%;
  padding: 12px 15px;
  border: none;
  border-radius: 8px;
  background-color: #07594d;
  color: white;
  margin-bottom: 20px;
  font-size: 1rem;
}

.senha-box input::placeholder {
  color: #a0c6be;
  font-style: italic;
}

.senha-box button {
  background-color: #ffa58f;
  color: black;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.senha-box button:hover {
  background-color: #ff8c75;
}

.voltar {
  display: inline-block;
  margin-top: 15px;
  color: #c2e2ff;
  text-decoration: none;
  font-size: 0.9rem;
}

.voltar:hover {
  text-decoration: underline;
}
