.sidebar {
    width: 120px;
    height: 100vh;
    background-color: #005C52;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* Usado para todos os itens ficarem com o mesmo espaço das bordas da direita e da esquerda*/
    padding-top: 20px;
    color: white;
  }

  .sidebar span {
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 14px;
  } 
  .select_inicio {
    border: 3px solid #cfe5db;
  }

  .sidebar div {
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    transition: background-color 0.3s;
    border-radius: 6px;
    width: 100%;
  }

  .sidebar div:hover {
    background-color: #007b6e;
    cursor: pointer;
    border: 3px solid #C1DDD2;
  }

  .sidebar img {
    width: 24px;
    height: 24px;
    display: block;
    margin: 0 auto 5px;
  }

  body {
    background-color: #2A745B;
  }

.perfil-container {
  margin: 2rem auto;
  width: 60%;
  background-color: #C1DDD2;
  padding: 30px;
  border-radius: 40px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.info-principal h2 {
  text-align: center;
  margin-bottom: 20px;
}

.dados-pessoais {
  background-color: #C1DDD2;
  border: 1px solid #aaa;
  padding: 15px 20px;
  border-radius: 20px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.dados-pessoais ul {
  list-style-type: disc;
  padding-left: 20px;
}

.turmas {
  margin-top: 30px;
  background-color: #C1DDD2;
  padding: 20px;
  border-radius: 25px;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.turma {
  margin-bottom: 15px;
  text-align: center;
}

.turma .titulo {
  background-color: #FA9C86;
  color: white;
  font-weight: bold;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.turma .descricao {
  background-color: #FFFFFF;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.95rem;
  border: 1px solid black;
}
